.navigationBar {
  min-height: 40px; }
  .navigationBar .navigationBar-menu {
    text-align: center;
    color: #333333; }
    .navigationBar .navigationBar-menu .navigationBar-button {
      width: 13%; }
      .navigationBar .navigationBar-menu .navigationBar-button button:hover {
        color: #f7941e; }
    .navigationBar .navigationBar-menu .navigationBar-buttonSpecial {
      width: 21%; }
    .navigationBar .navigationBar-menu .navigationBar-logo {
      width: 100%; }
