<div ng-controller="DemoBasicCtrl as ctrl" ng-cloak>
  <md-toolbar class="md-menu-toolbar navigationBar">
    <div layout="row">
      <div class="container">
        <md-menu-bar class="navigationBar-menu">
          <md-menu class="navigationBar-button">
            <button ng-click="$mdOpenMenu()">
              Proyectos
            </button>
          </md-menu>
          <md-menu class="navigationBar-button">
            <button ng-click="$mdOpenMenu()">
              Saervicios
            </button>
          </md-menu>
          <md-menu class="navigationBar-buttonSpecial">
            <button ng-click="$mdOpenMenu()">
              <img class="navigationBar-logo" src="public/images/MalaveHernandez_Logo.png">
            </button>
          </md-menu>
          <md-menu class="navigationBar-button">
            <button ng-click="$mdOpenMenu()">
              Manifiesto
            </button>
          </md-menu>
          <md-menu class="navigationBar-button">
            <button ng-click="$mdOpenMenu()">
              Contacto
            </button>
          </md-menu>
        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>
</div>